.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 40px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 600px;
    padding: 40px;

    background-color: $color-light-blue;
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;

    width: 20px;
    height: 20px;
    padding: 10px;

    background-color: transparent;
    background-image: url("../img/sprite/close-modal-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal--no-js {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form h2 {
  font-family: $ff-roboto-condensed;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 15px;
}

.modal__form p {
  font-family: $ff-pt-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin-bottom: 40px;
}

.modal__form input {
  border: none;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 15px;
  color: $color-default-white;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  box-sizing: border-box;

  &::placeholder {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    outline: 1px solid $color-dark-blue;
  }
}

.modal__form textarea {
  border: none;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 25px 15px;
  color: $color-default-white;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
  height: 155px;

  &::placeholder {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    outline: 1px solid $color-dark-blue;
  }
}

.modal__form button {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-dark-blue;
  border: 0;
  border-radius: 3px;
  padding: 15px 60px;
  margin-bottom: 35px;
  cursor: pointer;

  &:hover {
    background-color: rgba(4, 24, 39, 0.7);
  }
}

.modal__form label {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: 8px;
  cursor: pointer;
}

.modal__form span:last-of-type {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
}

.modal__checkbox-mark {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  margin-right: 11px;
  position: relative;
  border-radius: 2px;
}

.modal__form input[type="checkbox"]:checked ~ .modal__checkbox-mark::before {
  position: absolute;
  content: "";
  left: 0;
  top: 6px;
  width: 4px;
  height: 1px;
  background: $color-default-white;
  transform: rotate(50deg);
}

.modal__form input[type="checkbox"]:checked ~ .modal__checkbox-mark::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 6px;
  width: 7px;
  height: 1px;
  background: $color-default-white;
  transform: rotate(-50deg);
}

.modal__form input[type="checkbox"]:hover ~ span {
  color: $color-dark-blue;
}

.modal__form input[type="checkbox"]:hover + .modal__checkbox-mark,
.modal__form input[type="checkbox"]:focus + .modal__checkbox-mark {
  border-color: $color-dark-blue;
}

.modal__form input[type="checkbox"]:checked:hover ~ .modal__checkbox-mark::before,
.modal__form input[type="checkbox"]:checked:hover ~ .modal__checkbox-mark::after,
.modal__form input[type="checkbox"]:checked:focus ~ .modal__checkbox-mark::before,
.modal__form input[type="checkbox"]:checked:focus ~ .modal__checkbox-mark::after {
  background-color: $color-dark-blue;
}

.modal__logo {
  display: block;
  background-color: $color-dark-blue;
  padding: 10px;
  margin-bottom: 15px;
}
