.navigation {
  display: grid;
  grid-template-columns: auto minmax(200px, 345px);
  gap: 30px;
  margin-left: auto;

  @include vp-1023 {
    margin-left: 0;
    column-gap: 105px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.navigation button {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: transparent;
  margin-bottom: 20px;
  border: 0;

  @include vp-1023 {
    margin-bottom: 22px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 0;
    text-align: left;
  }
}

.navigation .is-open {
  @include vp-767 {
    margin-bottom: 16px;
  }
}

.navigation__list {
  display: grid;
  grid-template-columns: minmax(160px, 220px) minmax(160px, 220px);
  column-gap: 30px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
  }
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation li,
.navigation a {
  color: rgba(255, 255, 255, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }
}

.navigation__list > li {
  @include vp-1023 {
    margin-bottom: 5px;
  }
}

.navigation__first-column li:not(:last-of-type),
.navigation__second-column li:not(:last-of-type) {
  margin-bottom: 6px;

  @include vp-1023 {
    margin-bottom: 5px;
  }
}

.navigation__contacts li:not(:last-of-type) {
  margin-bottom: 6px;

  @include vp-1023 {
    margin-bottom: 5px;
  }
}

.navigation li.navigation__address {
  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }
}

.navigation a {
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: $color-light-blue;
  }
}
